*   {
    box-sizing: border-box;
}

#main   {
    padding: 5px;
    height: 18,5vw;
    width: 50vw;
    background-color: silver;
}
#main > header, #main > footer  {
    background-color: brown;
    height: 3vw;
}
.mang   {
    display: flex;
    justify-content: space-evenly ;
    margin-top: 15px;
    margin-bottom: 15px;
}
.hudz   {
    margin-left: 2px;
    background-color: blueviolet;
    flex: 1;
    order: 2;
}
.cang   {
    margin-right: 2px;
    background-color: tomato;
    height: 20vw;
    width: 10vw;
    order: 1;
}
#gambar {
    display: flex;
    justify-content: space-evenly;
}